.logon-container {
  width: 90%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form {
  width: 90%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

/* responsivo */

@media (max-width: 996px) {
  .logon-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logon-container section.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
  }

  .logon-container section.form form {
    margin-top: 70px;
  }

  .logon-container section.form form h1 {
    text-align: center;
    font-size: 28px;
  }

  .logon-container section.form img {
    max-width: 200px;
  }

  .logon-container .heroes-img {
    display: none;
  }
}

@media (max-width: 720px) {
  .logon-container section.form {
    flex-direction: column;
  }

  .logon-container section.form form h1 {
    text-align: center;
    font-size: 28px;
  }
}
